@font-face {
  font-family: "Creepster";
  src: url("../fonts/Creepster-Regular.woff") format("woff"), url("../fonts/Creepster-Regular.woff2") format("woff2"), url("../fonts/Creepster-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

@font-face {
  font-family: "Averia Libre";
  src: url("../fonts/AveriaSerifLibre-Regular.woff") format("woff"), url("../fonts/AveriaSerifLibre-Regular.woff2") format("woff2"), url("../fonts/AveriaSerifLibre-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

.content {
  margin: 0 0 0 20vw; }
  .content h1 {
    font: 5vw "Creepster";
    text-align: center;
    color: #854442;
    margin: 1vw 0 1vw 0;
    text-shadow: -1px 1px #be9b7b; }
  .content h4 {
    font: 2vw "Creepster";
    text-align: center;
    margin: 0;
    color: #854442;
    text-shadow: -1px 1px #be9b7b; }
  .content p {
    font: 1.8vw "Averia Libre";
    color: #4b3832;
    padding: 0 5vw 0 5vw;
    text-align: justify; }
  .content .icones {
    color: #854442;
    text-shadow: -1px 1px 3px #be9b7b;
    text-align: center;
    font-size: 4vw; }
    .content .icones a {
      color: #854442; }
  .content .center_p {
    text-align: center; }

@font-face {
  font-family: "Creepster";
  src: url("../fonts/Creepster-Regular.woff") format("woff"), url("../fonts/Creepster-Regular.woff2") format("woff2"), url("../fonts/Creepster-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

@font-face {
  font-family: "Averia Libre";
  src: url("../fonts/AveriaSerifLibre-Regular.woff") format("woff"), url("../fonts/AveriaSerifLibre-Regular.woff2") format("woff2"), url("../fonts/AveriaSerifLibre-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

@font-face {
  font-family: "Creepster";
  src: url("../fonts/Creepster-Regular.woff") format("woff"), url("../fonts/Creepster-Regular.woff2") format("woff2"), url("../fonts/Creepster-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

@font-face {
  font-family: "Averia Libre";
  src: url("../fonts/AveriaSerifLibre-Regular.woff") format("woff"), url("../fonts/AveriaSerifLibre-Regular.woff2") format("woff2"), url("../fonts/AveriaSerifLibre-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

body {
  margin: 0 20wv 0 0;
  background-color: #d6d3f0; }
  body .sidebar {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 100vh;
    background-color: #662a28; }
    body .sidebar ul {
      font: 3vw "Creepster";
      position: static;
      list-style-type: none;
      text-align: center;
      padding: 0;
      margin: 0;
      color: #d6d3f0;
      text-shadow: -1px 1px #be9b7b; }
    body .sidebar li {
      cursor: pointer;
      pointer-events: auto; }
      body .sidebar li a:active, body .sidebar li a:link, body .sidebar li a:visited {
        color: #d6d3f0;
        text-decoration: none; }
      body .sidebar li a:hover {
        color: #be9b7b;
        text-shadow: -1px 1px 1px #4b3832;
        text-decoration: none; }
    body .sidebar img {
      width: 10vw;
      margin: 7.5vh 0 7.5vh 0;
      border-radius: 50%;
      box-shadow: -2px -2px 5px #4b3832; }
  body .menubutton {
    visibility: hidden;
    cursor: unset; }

@font-face {
  font-family: "Creepster";
  src: url("../fonts/Creepster-Regular.woff") format("woff"), url("../fonts/Creepster-Regular.woff2") format("woff2"), url("../fonts/Creepster-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

@font-face {
  font-family: "Averia Libre";
  src: url("../fonts/AveriaSerifLibre-Regular.woff") format("woff"), url("../fonts/AveriaSerifLibre-Regular.woff2") format("woff2"), url("../fonts/AveriaSerifLibre-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

.skills {
  font-size: 6vw;
  text-align: center;
  color: #4b3832;
  cursor: default; }
  .skills i:hover {
    text-shadow: -1px 1px 3px #be9b7b;
    color: #662a28; }

@media only screen and (max-width: 600px) {
  body {
    margin: 0;
    background-color: #d6d3f0; }
    body .sidebar {
      height: 16vw;
      width: 100vw;
      opacity: 1;
      z-index: 30; }
      body .sidebar .menubutton {
        font-size: 10vw;
        color: #d6d3f0;
        position: fixed;
        margin: 2.5vw 3vw;
        visibility: visible; }
      body .sidebar ul {
        font-size: 10vw;
        position: absolute;
        width: 100vw;
        background: #995654; }
      body .sidebar li {
        margin: 5vw;
        display: block; }
        body .sidebar li a:hover {
          color: #662a28;
          text-shadow: -1px 1px 3px #854442; }
      body .sidebar .active {
        display: block; }
      body .sidebar .list {
        position: fixed;
        margin-top: 16vw;
        display: none; }
      body .sidebar #foto {
        visibility: hidden; }
    body .content {
      margin: 19vw 5vw 0 5vw;
      text-align: justify; }
      body .content h1 {
        font-size: 13vw; }
      body .content h4 {
        font-size: 8vw; }
      body .content p {
        font-size: 6vw;
        margin: 0; }
      body .content .icones {
        margin: 3vw 0 0 0;
        font-size: 13vw; }
    body .opaque-content {
      opacity: 0.2;
      transition: opacity 100ms ease-in-out; }
    body .skills {
      font-size: 15vw;
      margin: 4vw 2vw 0 2vw; } }
