body {
background-color: rgb(17, 17, 17);
}

.main-header-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 10vw;
    border-radius: 50%;
    border: 3px solid rgb(184, 39, 51);
    margin-top: 2.5vh;
}

.main-header-title {
    font: bold 3em 'Cinzel Decorative';
    color: rgb(184, 39, 51);
    text-align: center;
    user-select: none;
}

.social {
    display: block;
    position: relative;
}

.grid-container {
    display: grid;
    grid-template-columns: 5.5vw 5.5vw 5.5vw;
    justify-content: center;
}

.social-ul {
    margin: 0;
    padding: 0;
}

.social-li {
    color: #fff;
    list-style: none;
    margin-top: 5vh;
    text-align: center;
}

.social-li a {
    text-decoration: none;
    color: rgb(204, 204, 204);
    font-size: 5vh;
}

.social-li a img {
    height: 5.1vh;
}

.social-li i:hover {
    transform: scale(1.3);
}

.social-li a img:hover {
    transform: scale(1.3);
}

@media only screen and (max-width: 600px) {
    .main-header-photo {
        height: 25vw;
        margin-top: 5vh;
    }
   
    .grid-container {
        display: grid;
        grid-template-columns: 15vw 15vw 15vw;
        justify-content: space-evenly;
    }

    .social-li a {
        font-size: 10vw;
    }

    .social-li a img {
        height: 10.1vw;
    }
  }