/* Main */
@font-face {
  font-family: 'Creepster';
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src: local('Creepster'), 
  url('fonts/Creepster-Regular.woff') format('woff'),
  url('fonts/Creepster-Regular.woff2') format('woff2'), 
  url('fonts/Creepster-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Averia Serif Libre';
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src: local('Averia Serif Libre'), 
  url('fonts/AveriaSerifLibre-Regular.woff') format('woff'),
  url('fonts/AveriaSerifLibre-Regular.woff2') format('woff2'), 
  url('fonts/AveriaSerifLibre-Regular.ttf') format('truetype');
}

body {
  margin: 0 20wv 0 0;
  background-color: #d6d3f0;
}

.menubutton {
  visibility: hidden;
  cursor: unset;
}

.sidebar {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 100vh;
  background-color: #854442;
}

.sidebar ul {
  font: 3vw 'Creepster', cursive;
  position: static;
  list-style-type: none;
  text-align: center;
  padding:0;
  margin: 0;
  color: #d6d3f0;
  text-shadow: -1px 1px #be9b7b;
}

.sidebar a, a:visited, a:link, a:active {
  cursor: pointer;
  color: #d6d3f0;
  text-decoration: none !important;
}

.sidebar a:hover {
  color: #be9b7b;
  text-shadow: -1px 1px 1px #4b3832;
  text-decoration: none;
}

.sidebar img {
  width: 10vw;
  margin: 7.5vh 0 7.5vh 0;
  border-radius: 50%;
  box-shadow: -2px -2px 5px #4b3832;
}

.content {
  margin: 0 0 0 20vw;
}

/* Main ends here */

/* About me page */

.content > h1 {
  font: 5vw 'Creepster', cursive;
  text-align: center;
  color: #854442;
  margin: 1vw 0 1vw 0;
  text-shadow: -1px 1px #be9b7b;
}

.content > h4 {
  font: 2vw 'Creepster', cursive;
  text-align: center;
  margin: 0;
  color: #854442;
  text-shadow: -1px 1px #be9b7b;
}

.content p {
  font: 1.8vw 'Averia Serif Libre', cursive;
  color: #4b3832;
  text-align: justify;
  padding: 0 5vw 0 5vw;
}

.icones {
  color: #854442;
  text-shadow: -1px 1px 3px #be9b7b;
  text-align: center;
  font-size: 4vw;
}

.icones > a {
  color: #854442;
}

/* Skills page */

.skills {
  font-size: 6vw;
  text-align: center;
  color: #4b3832;
  cursor: default;
}

.skills i:hover {
  text-shadow:  -1px 1px 3px #be9b7b;
  color: #854442;
}

/* MOBILE DEVICES */
@media only screen and (max-width: 600px) {
  
  body {
    margin: 0;
    background-color: #d6d3f0 !important;
  }
  
  .menubutton {
    font-size: 10vw;
    color: #d6d3f0 !important;
    position: fixed;
    margin: 2.5vw 3vw;
    visibility: visible;
  }
  
  .sidebar {
    height: 16vw;
    width: 100vw;
    opacity: 1;
    z-index: 30;
  }
  
  .active {
    display: block;
  }

  .list {
    position: fixed;
    margin-top: 16vw;
    display: none;
  }
  
  .sidebar ul {
    font-size: 10vw;
    position: absolute;
    width: 100vw;
    background: #995654;
  }

  .sidebar li {
    margin: 5vw;
    display: block;
  }

  .sidebar ul li a:hover {
    color: #662a28 !important;
    text-shadow: -1px 1px 3px #854442; 
  }
  
  #foto {
    visibility: hidden;
  }
  
  .content {
    margin: 19vw 5vw 0 5vw;
  }

  .opaque-content {
    opacity: 0.2;
    transition: opacity 100ms ease-in-out;
 }

  .content h1 {
    font-size: 13vw;
  }
  
  .content h4 {
    font-size: 8vw;
  }
  
  .content p {
    font-size: 6vw;
    text-align: justify;
    margin: 0;
  }
  
  .icones {
    margin: 3vw 0 0 0;
    font-size: 13vw;
  }

  .skills {
    font-size: 15vw;
    margin: 4vw 2vw 0 2vw;
  }
}