body {
background-color: rgb(17, 17, 17);
}

.main-header {
    height: 15vh;
}

.main-header-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 10vw;
    border-radius: 50%;
    border: 3px solid rgb(184, 39, 51);
    padding: 4px;
    margin-top: 2.5vh;
}

.main-header-title {
    font: bold 3em 'Cinzel Decorative';
    color: rgb(184, 39, 51);
    text-align: center;
}

.social {
    display: block;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 5% 5% 5%;
    justify-content: center;
    margin: 20vh 0 0 0%;
}

.social-li {
    color: #fff;
    list-style: none;
    margin-top: 5vh;
}

.social-li a {
    text-decoration: none;
    color: #fff;
}

.social-li:hover {
    transform: scale(1.2);
}