@import 'fonts';
@import 'colors';

.skills {
    font-size: 6vw;
    text-align: center;
    color: $cinza;
    cursor: default;
    
    i {
        
        &:hover {
            text-shadow:  -1px 1px 5px $preto;
            color: $cinza_medio;
        }
        
    }
}