@import 'fonts';
@import 'colors';

.content {
    margin: 0 0 0 20vw;
    
    h1 {
        font: 5vw $star-wars;
        text-align: center;
        color: $quase_preto;
        margin: 1vw 0 1vw 0;
        text-shadow: -1px 1px 10px $cinza_medio;
    }
    
    h4 {
        font: 2vw $star-wars;
        text-align: center;
        margin: 0;
        color: $quase_preto;
        text-shadow: -1px 1px 10px $cinza_medio;
    }
    
    p {
        font: 1.8vw $p-font;
        color: $cinza;
        padding: 0 5vw 0 5vw;
        text-align: justify;
    }
    
    .icones {
        text-shadow: -1px 1px 10px $cinza_medio;
        text-align: center;
        font-size: 4vw;
        
        a {
            color: $quase_preto;
        }
    }
    
    .center_p {
        text-align: center;
    }
}

