@mixin font-face($family, $path, $weight: normal, $style: normal, $display: block){ 
    
    @font-face {
        font-family: $family;
        src: url('#{$path}.woff') format('woff'), url('#{$path}.woff2') format('woff2'), url('#{$path}.ttf') format('truetype');
        font-weight: $weight;
        font-style: $style;
        font-display: $display;
    }
}

@include font-face('Creepster', '../fonts/Creepster-Regular');
@include font-face('Averia Libre','../fonts/AveriaSerifLibre-Regular');

$main-font: quote('Creepster');
$secondary-font: quote('Averia Libre');